body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}
body {
    background-image: url('IMBH\ \(1\).png'); 
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    color: white;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 36px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

/* Style the footer */
footer {
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    font-size: 14px;
}
